/**
 * Main wrapper
 */
.main {
  background: #f9f9f9;
  position: relative;

  @include respond-to('medium') {
    transition: .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    padding-left: $sidebar-width;
    padding-top: 4em;
    min-height: 45em;
  }
}

/**
 * Main sections
 */
.main__section {
  margin-top: 5em;
  // border-top: 5px solid rgba($tertiary-color, .2);

  .header + & {
    margin-top: 0;
    border-top: none;
  }
}

/**
 * Main titles
 */
.main__heading,
.main__heading--secondary {
  padding: 70px 0;
  margin-top: 0;

  @include respond-to('medium') {
    padding: 70px 0 0;
  }
}

/**
 * Primary headings
 */
.main__heading {
  color: $primary-color;
  font-size: 3em;
  text-align: center;

  font-family: "adelle";
  font-weight: 400;
  padding-bottom: 70px;
  margin-bottom: 0;


  background-image: linear-gradient(rgba($primary-color, .1), rgba(0,0,0,0));
  margin-bottom: 4rem;
  border-top: 5px solid #e1e1e1;

  .container {
    text-shadow: 0 0 1px white;
  }
}

.main__item {
  background-color: #f0f0f0;
  margin-bottom: 4rem;
  padding-bottom: 5em;
}

/**
 * Secondary headings
 */
.main__heading--secondary {
  font-size: 2em;
  background-color: $quaternary-color;
  color: white;
  text-transform: uppercase;
  padding-top: 3em;
  position: relative;

  font-family: "adelle";
  font-weight: 400;
  margin: 0 auto;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  border-top: 5px solid rgba($primary-color, .2);

  .container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.1em;
    background-color: $quaternary-color;
  }
}
